target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-cougar.graph.model.wrapper#usage-without-binary-jar
.mvn/cougar.graph.model.wrapper/maven-cougar.graph.model.wrapper.jar
.idea
*.log
*.gz
.flattened-pom.xml
logs.*
.venv
