## All XXX fields are provisioned through environment variables

application: 
  security:
    enabled: true
    apiKey: "xxx"
  features:
    modules:
      applications: true
      admin: true
    schedulers:
      detectDuplicates: false
      replaceGlobalIdentifiers: true
    transformers:
      replaceGlobalIdentifiers: true
      replaceAnonymousIdentifiers: true
      mergeDuplicates: true
    validators:
      checkRequiredType: true
  storage:
    default:
      persistent: true    
      path: "/var/data/application"
    entities:
      persistent: true        
      path: "/var/data/entities"
    transactions:
      persistent: true        
      path: "/var/data/transactions"

spring:
  security:
    user:
      name: "xxx"
      password: "xxx"

storage:
  default:
    path: "/var/data/repositories"
  entities:
    path: "/var/data/entities"
  transactions:
    path: "/var/data/transactions"
  schema:
    path: "/var/data/schema"

logging:
  file:
    name: server.log
  level:
    com:
      bechtle: DEBUG
    org:
      springframework:
        security: INFO

management:
  endpoints:
    web:
      exposure:
        include: "health, info, env, loggers, metrics, scheduledTasks, logfile, mappings"
  endpoint:
    health:
      enabled: true
    info:
      enabled: true
    env:
      enabled: true
    loggers:
      enabled: true
    metrics:
      enabled: true
    scheduledTasks:
      enabled: true
    logfile:
      enabled: true
