info:
  app:
    version: '@project.version@'

spring:
  profiles:
    active: dev


management:
  info:
    env:
      enabled: true
    git:
      enabled: true
      mode: full
  health:
    defaults:
      enabled: false
    probes:
      enabled: true
  endpoints:
    web:
      exposure:
        include: "health, info, env, git, loggers, metrics, scheduledTasks, logfile, mappings, prometheus"
  endpoint:
    discovery:
      enabled: true
    health:
      enabled: true
      show-details: always
    info:
      enabled: true
    env:
      enabled: true
    loggers:
      enabled: true
    metrics:
      enabled: true
    scheduledTasks:
      enabled: true
    logfile:
      enabled: true
    prometheus:
      enabled: true
