kind: ConfigMap
apiVersion: v1
metadata:
  name: {{ include "template.fullname" . }}-application-properties
data:
  application-properties.json: {{ .Files.Get "application-properties.json" | quote }}
