a.external {
    color: #236AB9
}

a.definition {
    color: #448D76
}

a.internal {
    color: #E24D2C;
}

div.fragment {
    display: block;
    font-family: monospace;
    white-space: pre-wrap;
    margin-top: 0.5em;
}

div.header {
    background-color: aliceblue;
    margin: 1em;
}

span.ns {
    font-weight: bold;
}

body {
    background-color: lightgray;
}


div.box {
    background-color: white;
    width: 90%;
    margin: 0 auto;
    padding: 0.5em;
}

div#header_box {
    background-color: #ededed;
    padding: 1em;
}
div#navigation_box {
    background-color: #f7f7f7;
    padding: 1em;
}
div#content_box {
    padding: 1em;
}


@media only screen and (max-width: 600px) {
    div.box {
        width: 100%;
    }
}

@media only screen and (min-width: 1200px) {
    div.box {
        width: 80%;
    }
}

.hidden {
    display: none; /* Hide the div */
}